.navbar {
  height: 70px!important;
  background-color: #1e2536!important;
  justify-content: center;
  border-bottom: 1px solid #efefef;
}
.dropdownWrapper {
  color: $navbar-text;
}
.navbarAvatar {
  border: solid 2px white;
}